body{
    margin: 0%;
    padding: 0%;
}

.banner{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    /* position: relative; */
    
}


.btn{
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: 420px;
    margin-top: 20px;
}

.box{
    margin: 0%;
    padding: 0%;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px gray ;
}